@import "variables";
@import "mixin";
label{
  font-size: 16px;
  margin: 3px 0;
}
.input-component{
  .input-gradient {
    border-radius: 1em;
    padding: 0.1em;
    background: $accent-gradient;
    display: flex;
    justify-content: left;
    align-items: start;

    input {
      font-family: 'Didact Gothic', sans-serif;
      border-radius: 1em;
      padding: 2px 10px;
      border: none;
      width: 20em;
      height: 2em;
      background-color: $light-darker;
    }
  }
  .textarea-gradient {
    border-radius: 1em;
    padding: 0.1em;
    background: $accent-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    textarea {
      padding: 2px 10px;
      font-family: 'Didact Gothic', sans-serif;
      border-radius: 1em;
      width: 30em;
      height: 10em;
      background-color: $light-darker;
      resize: none;
    }
  }
  textarea:focus, input:focus{
    outline: none;
  }
}