<svg
        width="127"
        height="142"
        viewBox="0 0 127 142"
        fill="none"
        id="svg4"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        >
    <defs
            id="defs8">
        <linearGradient
                inkscape:collect="always"
                id="linearGradient1018">
            <stop
                    style="stop-color:#5f8ce3;stop-opacity:1;"
                    offset="0"
                    id="stop1014" />
            <stop
                    style="stop-color:#c812f5;stop-opacity:1;"
                    offset="1"
                    id="stop1016" />
        </linearGradient>
        <linearGradient
                inkscape:collect="always"
                xlink:href="#linearGradient1018"
                id="linearGradient1020"
                x1="1.8117504"
                y1="3.8701313"
                x2="124.90093"
                y2="140.09764"
                gradientUnits="userSpaceOnUse" />
    </defs>
    <path
            stroke="#000000"
            clip-rule="evenodd"
            class="logo"
            d="m 89.5763,79.3894 0.0059,0.0062 c -0.0019,-0.002 -0.0039,-0.0041 -0.0059,-0.0062 z M 63.6588,58.9832 h 23.7236 c 2.1807,0 4.2669,0.8902 5.7758,2.4646 l 7.2538,7.5693 c 4.875,5.0866 1.27,13.5352 -5.7758,13.5352 H 78.300887 63.6588 L 7.5,110.632 v 14.88 c 0,6.543 7.0833,10.632 12.75,7.361 l 94.819,-54.744 c 5.667,-3.2717 5.667,-11.4508 0,-14.7225 L 20.25,8.66266 C 14.5833,5.39099 7.5,9.48057 7.5,16.0238 v 14.88 z"
            fill="url(#paint0_linear_221_283)"
            id="path2"
            style="stroke:url(#linearGradient1020);" />
</svg>
