<div *ngIf="playlistsResponse">
    <main>
        <fillist-playlist-tile name="Add new playlist"
                               owner=""
                               image="assets/images/add-new-playlist.png"
                               id="new"
        ></fillist-playlist-tile>
        <fillist-playlist-tile *ngFor="let playlist of playlistsResponse.playlists"
                               [name]="playlist.name"
                               [owner]="playlist.ownerDisplayName"
                               [image]="playlist.image"
                               [id]="playlist.id"
        ></fillist-playlist-tile>
    </main>
    <fillist-paginator [pageSize]="playlistsResponse.limit"
                       [total]="playlistsResponse.total"
                       (onPageChange)="changePage($event)"></fillist-paginator>
</div>
