@import "variables";

@mixin button($border-color: $accent-purple, $background-color :$accent-purple, $text-color: $light ){
  all: unset;
  background-color: $background-color;
  padding: 0.4375rem 3.125rem;
  border-radius: 6.25rem;
  border: 3px solid rgba($border-color, 0.9);
  color: $text-color;
  font-family: 'Didact Gothic', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}
