@import "variables";

@mixin button($border-color: $accent-purple, $background-color :$accent-purple, $text-color: $light-color ){
  background-color: $background-color;
  padding: 0.9375rem 3.125rem;
  border-radius: 6.25rem;
  border: 3px solid rgba($text-color, 0.9);
  color: $text-color;
  font-family: 'Didact Gothic', sans-serif;
  &:hover{
    cursor: pointer;
    background-color: #ffffff30;
  }
  &:active{
    background-color: $text-color;
  }
}
