@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.1459em;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.842em;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5811em;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.3572em;
  font-weight: 400;
  margin: 0;
}

h6 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.1667em;
  font-weight: 400;
  margin: 0;
}

small {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 0.8333em;
}
