@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import "variables";
@import "mixin";

body,html {
  margin: 0;
  height: 100%;
  width: 100vw;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: $light-color;
}

h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2.1459rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.842rem;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5811rem;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.3572rem;
  font-weight: 400;
  margin: 0;
}

h6 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.1667rem;
  font-weight: 400;
  margin: 0;
}

small {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 0.8333rem;
}

button {
  @include button;
}

.button-outline {
  @include button($accent-purple, transparent, $accent-purple);
}

@media (max-width: 700px) {
  body,html{
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  body,html{
    font-size: 8px;
  }
}

@media (max-width: 450px) {
  .alert-icon{
    --ng-icon__size: 2rem !important;
  }
}
