<div class="gradient-border">
    <main>
        <fillist-input
                (valueChange)="changeNameValue($event)"
                [labelText]="'Playlist Name:'"
                [placeholder]="'fillist-playlist'"
        ></fillist-input>
        <fillist-input
                (valueChange)="  changeDescriptionValue($event)"
                [labelText]="'Playlist Description:'"
                [placeholder]="'fillist-playlist'"
                [type]="'textarea'"
        ></fillist-input>
        <button (click)="postPlaylist()">Create Playlist</button>
    </main>
    <button (click)="close()" class="close-button">
        <ng-icon size="20" name="cssClose" class="alert-icon"></ng-icon>
    </button>
</div>