@import "variables";

img {
  border-radius: 100rem;
  width: 2.8rem;
  height: 2.8rem;
}

button {
  all: unset;
  padding: 0.2rem;
  border-radius: 100rem;
  position: relative;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(90deg, $accent-purple, $accent-blue);
}

button:hover{
  cursor: pointer;
}
