@import "variables";
@import "mixin";

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(91deg, $accent-purple-light 0%, $accent-blue 100%), $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-lgn {
  all: unset;
  display: flex;
  flex-direction: row;
  @include button($light-color, transparent, $light-color);
  img{
    margin-right: 1rem;
    height: 4rem;
    width: auto;
  }
}

section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  h1 {
    color: #FFF;
    font-size: 9.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2rem;
  }

  img {
    height: 13rem;
    width: auto;
  }
}
