@import "variables";
@import "mixin";

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(91deg, $accent-purple-light 0%, $accent-blue 100%), $light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-lgn {
  all: unset;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  @include button($light, transparent, $light);
  img{
    margin-right: 1em;
    height: 4em;
    width: auto;
  }
  &:hover{
    background-color: #ffffff30;
  }
}

section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  h1 {
    color: #FFF;
    font-size: 9.375em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.2em;
  }

  img {
    height: 13em;
    width: auto;
  }
}
